*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background:  white;
  font-family: 'Raleway', sans-serif;
}

/* Etape 1 */
nav{
  width: 95% ;
  margin: 0 auto;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
}
.Reservia {
  align-self: center;
}

ul{
  display: flex;
  align-self: center;
  margin-left: auto;
}

li{
  list-style-type: none;
  font-size: 17px;
  height: 120px;
}

ul li a{
display: flex;
align-self: baseline;
}

ul li a:hover {
  color: #0065FC;
  border-top: 2px solid #0065FC;
}
a:focus {
  text-decoration: none;
  outline: none;
}

.lien1, .lien2 {
  text-decoration: none;
  color: black;
  padding: 51px;
  font-weight: normal;
}

.lien3 {
  text-decoration: none;
  background-color: white;
  border: none;
  cursor: pointer;
  color: #0065FC;
  font-weight: bold;
  margin-top: 3px;
  font-size: 17px
}
.lien3:focus {
  outline: none;
}
/* Etape 2 */
.Titre {
  width: 95% ;
  margin: 2px auto;
  display: flex;
}
.Titre1 {
  width: 95% ;
  margin: 2px auto;
  display: flex;
}
.Recherche {
  width: 95% ;
  margin: 2px auto;
  display: flex;
  justify-content: flex-start;
  height: 38px;
}
.Recherche .logo {
background-color: #f2f2f2;
border-radius: 8px 0 0 8px;
height: auto;
width: 40px;
cursor: pointer;
position: relative;
}
.Recherche .logo .fas {
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.Recherche #recherche {
  border-style: none;
  border-radius: 0;
  border-color: #f2f2f2 transparent;
}
input:focus::placeholder {
  color: transparent;
}
input::placeholder {
  color: black;
  font-weight: bold;
  padding-left: 10px;
}
.Recherche .btn {
  background-color: #0065FC;
  border-style: none;
  width: 85px;
  border-radius: 0 15px 15px 0;
  color: #f2f2f2;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.filtre {
  width: 95% ;
  margin: 2px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  height: 45px;
}
.filtre .F {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  width: auto;
  margin: 0 6px;
  border: 1px solid #f2f2f2;
  border-radius: 25px 25px 25px 25px;
}
.filtre .F:hover{

  color: #0065FC
}
.filtre .F .filtre_nom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filtre .F .fas {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065FC;
  background-color: #DEEBFF;
  height: 40px;
  width: 40px;
  border-radius: 999px;
}
.filtre .F .fas::before{
  display: flex;
  justify-content: center;
}
span {
  text-align: center;
  margin-right: 10px;
}
.info {
  width: 95% ;
  margin: 2px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  line-height: 15px;
}
.info .fas {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  color: #0065FC;
  height: 30px;
  width: 30px;
  border: 2px solid #f2f2f2;
  border-radius: 999px;
}
.info .fas::before {
display: flex;
margin: auto;
}
.info span {
  margin-left: 10px;
}
/* Etape 4 */
#Hébergement {
  height: 700px;
  width: 95vw ;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
#Hébergement .carte_h {
  width: 68%;
  height: 650px;
  background-color: #F2F2F2;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#Hébergement .Les_plus {
  width: 29%;
  height: 650px;
  background-color: #F2F2F2;
  border-radius: 25px
}
#Hébergement .carte_h h2 {
  width: 100%;
  position: relative; 
  left: 30px;
  top: 15px;
}
#Hébergement .Les_plus h2 {
  width: 100%;
  position: relative; 
  left: 30px;
  top: 2px;
}

#Hébergement .carte_h .lien_carte {
  background-color: white;
  width: 280px;
  height: 35%;
  border-radius: 25px;
  text-decoration: none;
  color: black;
}

#Hébergement .carte_h span {
  width: 100%;
  position: relative;
  left:30px;
  bottom: 18px;
  text-align: left;
}
#Hébergement .carte_h .carte img {
  display: flex;
  height: 130px;
  width: 95%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  margin: 7px auto;
}
#Hébergement .carte_h .classement {
  width: 100%;
  display: flex;
  padding: 4px 0 5px 15px ;
  font-size: small;
}
#Hébergement .carte_h .caracteristique_h{
  display: flex;
  flex-direction: column;
}
#Hébergement h3{
  padding: 4px 0 0 15px;
  font-weight: bold;
  font-size: 20px;
}
#Hébergement p{
  padding: 4px 0 0 15px;
}
.etoile {
  color: #0065FC;
}
.etoile_vide {
  color: #F2F2F2;
}
.Les_plus{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Les_plus header {
  display: flex;
  width: 94%;
  justify-content: space-between;
  margin:  auto 0;
  padding-top: 10px;
  margin-bottom: 0;
}
.Les_plus header .fas{
  display: flex;
  margin-top: 6px;
  margin-left: 40px;
  font-size: 22px;
}
.Les_plus .carte_plus {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}
.Les_plus .lien_plus {
  background-color: white;
  height: 160px;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}
.carte_plus img {
  width: 40%;
  height: 145px;
  border-radius: 20px 0 0 20px ;
  object-fit: cover;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  margin-left: 5px;
}
.carte_plus .caracteristique {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 margin-bottom: 20px;
}
.carte_plus .classement {
  width: 100%;
  display: flex;
  margin-left: 15px;
  font-size: small
}
/* Etape 5 */
#Activité {
  height: 600px;
  width: 98vw ;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}
#Activité .grande_image {
  height: 90%;
  width: 340px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 10px 10px #f2f2f2;
  border: 1px solid #f2f2f2;
  overflow: hidden;
}
#Activité .moyenne_image {
  height: 45%;
  width: 340px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 10px 15px #f2f2f2;
  border: 1px solid #f2f2f2;
}
#Activité .petite_image {
  height: 40%;
  width: 340px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 10px 15px #f2f2f2;
  border: 1px solid #f2f2f2;
}
#Activité .mini_image {
  height: 35%;
  width: 340px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 25px 25px #f2f2f2;
  border: 1px solid #f2f2f2;
}
#Activité .Nom {
  display: block;
  position: relative;
  width: 90%;
  margin: auto;
  line-height: 3;
  font-weight: bold;
}
#Activité .grande_image img {
  height: 90%;
  border-radius: 25px 25px 0 0;
}
#Activité .moyenne_image img {
  height: 78%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  border-radius: 25px 25px 0 0;
}
#Activité .petite_image img {
  width: 100%;
  height: 78%;
  border-radius: 25px 25px 0 0;
}
#Activité .mini_image img {
  width: 100%;
  height: 74%;
  border-radius: 25px 25px 0 0;
}
#Activité .lien_act {
  text-decoration: none;
  color: black;
}
/* Etape 6 */
footer {
  width: 100%;
  height: 300px;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
footer div{
  display: flex;
  height: 150px;
  width: 325px;
  flex-direction: column;
  margin-left: 50px;
}
footer div h3 {
  line-height: 2;
}
footer div p {
  line-height: 2;
}
/* Partie Responsive */
@media screen and (max-width:768px) {
  nav {
    height: 50px;
    width: 100%;
    margin: 10px 5px 50px 5px;

  }

  ul {
    width: 100%;
    height: 20px;
    text-align: center;
    margin-bottom: 40px;
  }
  li{
    display: inline-block; 
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .lien2, .lien1{
    flex-direction: column;
    text-align: center;
    padding: 0;
    height: 30px;
    margin: 20px 0;
    border-bottom:2px solid #f2f2f2 ;
    font-size: 14px;
  }
  .lien3{
    position: absolute;
    top: 28px;
    right:1px;
  }
  ul li a:hover {
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
    border-top: none;
  }
  .Titre{
    font-weight: 900;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 4px;
    font-size: 20px;
    display: block;
    flex-direction: column;
  }
  .Titre1{
    display: block;
    text-align: center;
    margin-bottom: 4px;
    font-size: 14px;
  }
  .Recherche{
    display: flex;
    justify-content: center;
  }
  .filtre {
    flex-wrap: wrap;
    height: 200px;
    margin-left: 18px;
    font-weight: bold;
    display: flex;
    align-content: center;
  }
  .titre_span{
    width: 100%;
    text-align: left;
  }
  .filtre .F {
    border:solid 3px #f2f2f2;
    margin: 5px 0px 5px 18px;
    display: flex;
    justify-content: center;
  }
  .filtre_nom{
    margin-right: 10px;
    margin-left: 0;
  }
  .filtre .fas{
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-left: -2px;
  }
  .info{
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .info span{
    text-align: left;
    font-size: 14px;
  }
}