*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background:  white;
  font-family: 'Raleway', sans-serif;
}

/* Etape 1 */
nav{
  width: 95% ;
  margin: 0 auto;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
}
.Reservia {
  align-self: center;
}

ul{
  display: flex;
  align-self: center;
  margin-left: auto;
}

li{
  list-style-type: none;
  font-size: 17px;
  height: 120px;
}

ul li a{
display: flex;
align-self: baseline;
}

ul li a:hover {
  color: #0065FC;
  border-top: 2px solid #0065FC;
}
a:focus {
  text-decoration: none;
  outline: none;
}

.lien1, .lien2 {
  text-decoration: none;
  color: black;
  padding: 51px;
  font-weight: normal;
}

.lien3 {
  text-decoration: none;
  background-color: white;
  border: none;
  cursor: pointer;
  color: #0065FC;
  font-weight: bold;
  margin-top: 3px;
  font-size: 17px
}
.lien3:focus {
  outline: none;
}
/* Etape 2 */
.Titre {
  width: 95% ;
  margin: 2px auto;
  display: flex;
}
.Titre1 {
  width: 95% ;
  margin: 2px auto;
  display: flex;
}
.Recherche {
  width: 95% ;
  margin: 6px auto;
  display: flex;
  justify-content: flex-start;
  height: 37px;
  z-index: 1;
}
.Recherche .logo {
background-color: #f2f2f2;
border-radius: 8px 0 0 8px;
height: auto;
width: 40px;
cursor: pointer;
position: relative;
z-index: 1;
}
.Recherche .logo .fas {
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.Recherche #recherche {
  border-left-style: none;
  border-right-style: none;
  border-top: solid #f2f2f2;
  border-bottom: solid #f2f2f2;
  border-radius: 0;
  width: 250px;
  z-index: 1;
}
input:focus::placeholder {
  color: transparent;
}
input::placeholder {
  color: black;
  font-weight: bold;
  padding-left: 10px;
}
.Recherche .btn {
  background-color: #0065FC;
  border-style: none;
  width: 85px;
  border-radius: 0 15px 15px 0;
  color: #f2f2f2;
  cursor: pointer;
  z-index: 1;
}
.Recherche .btn2{
  width: 38px;
  height: 38px;
  border-radius: 10px;
  background-color: white;
  color: white;
  text-decoration: none;
  border-style: none;
  z-index: 0;
  position: absolute;
}
.btn:focus {
  outline: none;
}
.filtre {
  width: 95% ;
  margin: 6px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  height: 45px;
}
.filtre .F {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  width: auto;
  margin: 0 6px;
  border: 1px solid #f2f2f2;
  border-radius: 25px 25px 25px 25px;
}
.filtre .F:hover{

  color: #0065FC
}
.filtre .F .filtre_nom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filtre .F .fas {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065FC;
  background-color: #DEEBFF;
  height: 38px;
  width: 38px;
  border-radius: 999px;
}
.filtre .F .fas::before{
  display: flex;
  justify-content: center;
}
span {
  text-align: center;
  margin-right: 10px;
}
.info {
  width: 95% ;
  margin: 20px auto;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  line-height: 15px;
}
.info .fas {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  color: #0065FC;
  height: 28px;
  width: 28px;
  border: 2px solid #f2f2f2;
  border-radius: 999px;
  flex-shrink: 0;
}
.info .fas::before {
display: flex;
margin: auto;
flex-shrink: 0;
}
.info span {
  margin-left: 10px;
}
/* Etape 4 */
#Hébergement {
  height: 700px;
  width: 95vw ;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
#Hébergement .carte_h {
  width: 68%;
  height: 680px;
  background-color: #F2F2F2;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#Hébergement .Les_plus {
  width: 29%;
  height: 680px;
  background-color: #F2F2F2;
  border-radius: 25px
}
#Hébergement .carte_h h2 {
  width: 100%;
  position: relative; 
  left: 30px;
  top: 15px;
}
#Hébergement .Les_plus h2 {
  width: 100%;
  position: relative; 
  left: 30px;
  top: 2px;
}

#Hébergement .carte_h .lien_carte {
  background-color: white;
  width: 30%;
  height: 35%;
  border-radius: 25px;
  text-decoration: none;
  color: black;
}

#Hébergement .carte_h span {
  width: 100%;
  position: relative;
  left:30px;
  bottom: 18px;
  text-align: left;
}
#Hébergement .carte_h .carte img {
  display: flex;
  height: 130px;
  width: 95%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  margin: 7px auto;
}
#Hébergement .carte_h .classement {
  width: 100%;
  display: flex;
  padding: 4px 0 5px 15px ;
  font-size: small;
}
#Hébergement .carte_h .caracteristique_h{
  display: flex;
  flex-direction: column;
}
#Hébergement h3{
  padding: 4px 0 0 15px;
  font-weight: bold;
  font-size: 20px;
}
#Hébergement p{
  padding: 4px 0 0 15px;
}
.etoile {
  color: #0065FC;
}
.etoile_vide {
  color: #F2F2F2;
}
.Les_plus{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Les_plus header {
  display: flex;
  width: 94%;
  justify-content: space-between;
  margin:  auto 0;
  padding-top: 10px;
  margin-bottom: 0;
}
.Les_plus header .fas{
  display: flex;
  margin-top: 6px;
  margin-left: 40px;
  font-size: 22px;
}
.Les_plus .carte_plus {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}
.Les_plus .lien_plus {
  background-color: white;
  height: 160px;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}
.carte_plus img {
  width: 40%;
  height: 145px;
  border-radius: 20px 0 0 20px ;
  object-fit: cover;
  display: flex;
  justify-content: flex-start;
  margin: auto 0;
  margin-left: 5px;
}
.carte_plus .caracteristique {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 margin-bottom: 20px;
}
.carte_plus .classement {
  width: 100%;
  display: flex;
  margin-left: 15px;
  font-size: small
}
/* Etape 5 */
.Titre2 {
  display:flex;
  margin-left: 25px;
  margin-top: 30px;
}
#Activité {
  height: 600px;
  width: 98vw ;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}
#Activité .grande_image {
  height: 90%;
  width: 22%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 10px 25px  #d1d1d1;
  border: 1px solid #f2f2f2;
  overflow: hidden;
}
#Activité .moyenne_image {
  height: 45%;
  width: 22%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 10px 25px  #d1d1d1;
  border: 1px solid #f2f2f2;
}
#Activité .petite_image {
  height: 40%;
  width: 22%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 10px 25px  #d1d1d1;
  border: 1px solid #f2f2f2;
}
#Activité .mini_image {
  height: 35%;
  width: 22%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 10px 25px  #d1d1d1;
  border: 1px solid #f2f2f2;
}
#Activité .Nom {
  display: block;
  position: relative;
  width: 90%;
  margin: auto;
  line-height: 3;
  font-weight: bold;
}
#Activité .grande_image img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
#Activité .moyenne_image img {
  height: 78%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  border-radius: 25px 25px 0 0;
}
#Activité .petite_image img {
  width: 100%;
  height: 78%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
#Activité .mini_image img {
  width: 100%;
  height: 74%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
#Activité .lien_act {
  text-decoration: none;
  color: black;
}

/* Etape 6 */
footer {
  width: 100%;
  height: 300px;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
footer div{
  display: flex;
  height: 150px;
  width: 325px;
  flex-direction: column;
  margin-left: 50px;
}
footer div h3 {
  line-height: 2;
}
footer div p {
  line-height: 2;
}
/* Partie Responsive */
@media screen and (max-width:1250px) {
  #Hébergement {
    display: flex;
    flex-wrap: wrap-reverse;
    height: 1400px;
  }
  #Hébergement .Les_plus {
    width: 90%;
    height: 48%;
    margin: auto;
    overflow: hidden;
  }
  #Hébergement .Les_plus .lien_plus{
    height: 25%;
    width: 90%;
  }
  #Hébergement .carte_plus img {
    width: 40%;
    height: 96%;
  }
  #Hébergement .carte_plus .caracteristique {
    width: 60%;
    height: 96%;
  }

  #Hébergement .Les_plus .carte_plus{
    width: 100%;
  }
  #Hébergement .carte_h {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width:1024px){
  #Hébergement {
    display: flex;
    flex-wrap: wrap-reverse;
    height: 2800px;
  }
  #Hébergement .Les_plus{
    width: 95%;
    height: 25%;
  }
  #Hébergement .carte_h {
    width: 95%;
    height: 75%;
    background-color: white;
  }
  #Hébergement .carte_h .lien_carte{
    width: 95%;
    height: 12%;
    box-shadow: 0px 10px 25px  #d1d1d1;
  }
  #Activité {
    height: 1500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #Activité .grande_image {
    height: 14%;
    width: 86%;
  }
  #Activité .grande_image img {
    height: 70%;
    width: 100%;
  }
  #Activité .moyenne_image {
    height: 14%;
    width: 86%;
  }
  #Activité .moyenne_image img {
    height: 70%;
    width: 100%;
  }
  #Activité .petite_image {
    height: 14%;
    width: 86%;
  }
  #Activité .petite_image img {
    height: 70%;
    width: 100%;
  }
  #Activité .mini_image {
    height: 14%;
    width: 86%;
  }
  #Activité .mini_image img {
    height: 70%;
    width: 100%;
  }
  footer{
    height: 500px;
  }
  footer div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width:768px) {
  nav {
    height: 50px;
    width: 100%;
    margin: 10px 5px 50px 5px;

  }

  ul {
    width: 100%;
    height: 20px;
    text-align: center;
    margin-bottom: 40px;
  }
  li{
    display: inline-block; 
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .lien2, .lien1{
    flex-direction: column;
    text-align: center;
    padding: 0;
    height: 30px;
    margin: 20px 0;
    border-bottom:2px solid #f2f2f2 ;
    font-size: 16px;
  }
  .lien3{
    position: absolute;
    top: 28px;
    right: 1px;
    margin-right: 2px;
  }
  ul li a:hover {
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
    border-top: none;
  }
  .Titre{
    font-weight: 900;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 4px;
    font-size: 20px;
    display: block;
    flex-direction: column;
  }
  .Titre1{
    display: block;
    text-align: center;
    margin-bottom: 4px;
    font-size: 14px;
  }
  .Recherche{
    display: flex;
    justify-content: center;
  }
  
  .filtre {
    flex-wrap: wrap;
    height: 200px;
    margin-left: 18px;
    font-weight: bold;
    display: flex;
    align-content: center;
  }
  .titre_span{
    width: 100%;
    text-align: left;
  }
  .filtre .F {
    border:solid 3px #f2f2f2;
    margin: 5px 0px 5px 20px;
    display: flex;
    justify-content: center;
  }
  .filtre_nom{
    margin-right: 10px;
    margin-left: 0;
  }
  .filtre .fas{
    height: 48px;
    width: 100%;
    display: inline-block;
    margin-left: -2px;

  }
  .info{
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .info span{
    text-align: left;
    font-size: 12px;
  }
}
@media screen and (max-width:430px){
  
  .Recherche {
    margin-left: 30px;
  }
  .Recherche .btn2{
    height: 39px;
    width: 39px;
    border-radius: 10px;
    background-color: #0065FC;
    color: white;
    text-decoration: none;
    border-style: none;
    z-index: 2;
    cursor: pointer;
    position: relative;
    right: 50px;
    bottom: 1px;
    flex-shrink: 0;
  }
  .Recherche .btn{
    cursor: default;
    background-color: white;
    color: white;
    width: 38px;
  }
  #Hébergement{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 2400px;
  }
  #Hébergement .Les_plus {
    width: 100%;
    border-radius: 0;
  }
  #Hébergement header {
    position: relative;
    width: 100%;
    top: -10px;
    left: -15px;
    margin: 0;
    font-size: 14px;
    align-content: space-between;
  }
  #Hébergement .lien_plus {
    margin: 10px auto;
    width: 300px;
  }
  #Hébergement .lien_plus .carte_plus .caracteristique{
    height: 90%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  #Hébergement .caracteristique h3{
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
  }
  #Hébergement .caracteristique p{
    margin: 0 0 40px 0;
    font-size: 14px;
    padding-top: 0;
  }
  #Hébergement .classement{
    margin-bottom: 6px;
    font-size: 12px;
  }
  #Hébergement .carte_h h2 {
    display: block;
    position: relative;
    margin:0;
    padding: 0;
    left: 10px;
    font-size: 20px;
  }
  #Hébergement span {
    margin-right: 0px;
    font-size: 20px;
    font-weight: bolder;
  }
  #Hébergement .carte_h{
    width: 99%;
  }
  #Hébergement .caracteristique_h h3{
    padding-top: 0;
    font-size: 17px;
  }
  #Hébergement .caracteristique_h p{
    font-size: 14px;
  }
  #Activité{
    height: 1300px;
  }
  #Activité .grande_image{
    width: 92%;
  }
  #Activité .moyenne_image{
    width: 92%;
  }
  #Activité .petite_image{
    width: 92%;
  }
  #Activité .mini_image{
    width: 95%;
  }
  footer div {
    display: flex;
    align-items: flex-start ;
    text-align: start;
  }
}
@media screen and (max-width:320px){
  .Recherche #Recherche{
    width: 230px;
  }
  .Recherche .btn2{
    border-radius: 10px;
    background-color: #0065FC;
    color: white;
    text-decoration: none;
    border-style: none;
    z-index: 2;
    cursor: pointer;
  }
  .Recherche .btn{
    cursor: default;
    background-color: white;
    color: white;
    width: 38px;
  }
}