*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body {
  margin: 0 auto;
  background:  white;
  font-family: 'Raleway', sans-serif;
}

/* Etape 1 */
nav{
  width: 98% ;
  margin: 0 auto;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
}
.Reservia {
  align-self: center;
}

ul{
  display: flex;
  align-self: center;
  margin-left: auto;
}

li{
  list-style-type: none;
  font-size: 2vh;
  height: 120px;
}

a{
display: flex;
align-self: baseline;
}

a:hover {
  color: #0065FC;
  border-top: 2px solid #0065FC;
}
a:focus {
  outline: none;
}

.lien1, .lien2 {
  text-decoration: none;
  color: black;
  padding: 2vw;
  font-weight: normal;
}

.lien3 {
  text-decoration: none;
  background-color: white;
  border: none;
  cursor: pointer;
  color: #0065FC;
  font-weight: bold;
  padding: 2vw;
  margin-right: 10px;
  font-size: 17px
}
.lien3:focus {
  outline: none;
}
/* Etape 2 */
.Trouver {
  width: 98% ;
  margin: 0 auto;
  display: flex;
}
.Recherche {
  width: 98% ;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  height: 38px;
}
.Recherche .logo {
background-color: #f2f2f2;
border-radius: 8px 0 0 8px;
height: auto;
width: 40px;
cursor: pointer;
position: relative;
}
.Recherche .logo .fas {
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.Recherche #recherche {
  border-style: none;
  border-radius: 0;
  border-color: #f2f2f2 transparent;
}
input:focus::placeholder {
  color: transparent;
}
input::placeholder {
  color: black;
  font-weight: bold;
  padding-left: 10px;
}
.Recherche .btn {
  background-color: #0065FC;
  border-style: none;
  width: 85px;
  border-radius: 0 15px 15px 0;
  color: #f2f2f2;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.filtre {
  width: 98% ;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  height: 45px;
}
.filtre .F {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  width: auto;
  margin: 0 6px;
  border: 1px solid #f2f2f2;
  border-radius: 25px 25px 25px 25px;
}
.filtre .F:hover{

  color: #0065FC
}
.filtre .F .filtre_nom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filtre .F .fas {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065FC;
  background-color: #DEEBFF;
  height: 40px;
  width: 40px;
  border-radius: 999px;
}
.filtre .F .fas::before{
  display: flex;
  justify-content: center;
}
span {
  text-align: center;
  margin-right: 10px;
}
.info {
  width: 98% ;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  line-height: 15px;
}
.info .fas {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  color: #0065FC;
  height: 30px;
  width: 30px;
  border: 2px solid #f2f2f2;
  border-radius: 999px;
}
.info .fas::before {
display: flex;
margin: auto;
}
.info span {
  margin-left: 10px;
}
/* Etape 4 */
#Hébergement {
  height: 700px;
  width: 95vw ;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#Hébergement .carte_h {
  width: 65%;
  height: 650px;
  background-color: #F2F2F2;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#Hébergement .Les_plus {
  width: 30%;
  height: 650px;
  background-color: #F2F2F2;
  border-radius: 25px
}
#Hébergement .carte_h h2 {
  width: 100%;
  position: relative; 
  left: 30px;
  top: 10px;
}
#Hébergement .carte_h .carte {
  background-color: white;
  width: 27%;
  height: 35%;
  border-radius: 25px;
}
#Hébergement .carte_h span {
  width: 100%;
  position: relative;
  left:30px;
  bottom: 18px;
  text-align: left;
}
#Hébergement .carte_h .carte img {
  height: 60%;
  width: 95%;
  border-radius: 20px 20px 0 0;
  display: block;
  margin: 7px auto;
}
#Hébergement .carte_h .classement {
  width: 100%;
  display: flex;
  padding: 4px 0 5px 15px ;
}
#Hébergement h3{
  padding: 4px 0 0 15px;
  font-weight: bold;
}
#Hébergement p{
  padding: 4px 0 0 15px;
}
.etoile {
  color: #0065FC;
}
.etoile_vide {
  color: #F2F2F2;
}
.Les_plus{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Les_plus header {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: auto;
  padding-top: 10px;
  margin-bottom: 0;
}
.Les_plus header .fas{
  display: flex;
  align-items: center;
}
.Les_plus .carte_plus {
  background-color: white;
  height: 24%;
  width: 80%;
  display: flex;
  margin: auto;
  border-radius: 20px;
}
.carte_plus img {
  width: 40%;
  height: 90%;
  border-radius: 20px 0 0 20px ;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  margin-left: 8px
}
.carte_plus .caracteristique {
  width: 60%;
  height: 100%;
  align-content: center;
  justify-content: center;
}
.carte_plus .classement {
  width: 100%;
  display: flex;
  align-self: flex-end;
  padding: 50px 15px;
}